<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/create">Create New Order</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="orders">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Number </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

      <ng-container matColumnDef="due_date">
        <th mat-header-cell *matHeaderCellDef> Due Date </th>
        <td mat-cell *matCellDef="let element"> {{element.due_date}} </td>
      </ng-container>

      <ng-container matColumnDef="customer_buyer_name">
        <th mat-header-cell *matHeaderCellDef> Customer Buyer Name </th>
        <td mat-cell *matCellDef="let element"> {{element.customer_buyer_name}} </td>
      </ng-container>

      <ng-container matColumnDef="customer_address">
        <th mat-header-cell *matHeaderCellDef> Customer Address </th>
        <td mat-cell *matCellDef="let element"> {{element.customer_address}} </td>
      </ng-container>

      <ng-container matColumnDef="customer_phone">
        <th mat-header-cell *matHeaderCellDef> Customer Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.customer_phone}} </td>
      </ng-container>
      
      <ng-container matColumnDef="order_total">
        <th mat-header-cell *matHeaderCellDef> Order Total </th>
        <td mat-cell *matCellDef="let element"> {{element.order_total}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="mat-column-right"> Actions </th>
          <td mat-cell *matCellDef="let element" class="mat-column-right">
            <button mat-button color="primary" (click)="editOrder(element._id)">Edit</button>
            <button mat-button color="warn" (click)="deleteOrder(element._id)">Delete</button>
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>